<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Modifier un malade</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-info navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" th:href="@{/index}">APPLICATION DE GESTION MEDECALE</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
     <ul class="navbar-nav">
      <li class="nav-item">
       <a class="nav-link" th:href="@{/malades}">Medecins</a>
       </li>
      <li class="nav-item">
      <a class="nav-link" th:href="@{/consultations}">Consultations</a>
      </li>
      <li class="nav-item">        
        <a class="nav-link" th:href="@{/malades}">Malades</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<div class="container">
	
	<div class="row">
		<div class="col-lg-7 col-md-6 col-sm-6 container justify-content-center card border-primary">
		<h2 class="text-center text-primary">Modifier les informations du malade</h2>
			<div class="card-body">
				<form th:action="@{/malades/{idmal}(idmal=${malade.idmal})}" th:object ="${malade}" method="POST" enctype="application/x-www-form-urlencoded">
				<div class="form-group">
				</div>
				
				<div class="form-group">
					<label>Nom du médecin</label>
					<input
					type="text"
					disabled="disabled"
					name="idmal"
					th:field="*{idmal}"
					class="form-control"
					placeholder="Entrer le nom et prénom"
					/>
				</div>
				<div class="form-group">
					<label>Nom du médecin</label>
					<input
					type="text"
					name="nomMal"
					th:field="*{nomMal}"
					class="form-control"
					/>
				</div>
				<div class="form-group">
					<label>Spécialité</label>
					<input
					type="date"
					name="dateN"
					th:field="*{dateN}"
					class="form-control"
					/>
				</div>
				<div class="form-group">
					<label>Numéro de télephone</label>
					<input
					type="text"
					name="tel_mal"
					th:field="*{tel_mal}"
					class="form-control"
					
					/>
				</div>
				<div class="box-footer">
				<button type="submit" class="btn btn-primary">
				Valider
				</button>
					
				</div>
				</form>
			</div>
		</div>
	</div>
	</div>

</body>

</html>